SUPABASE_URL=https://your_supabase.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_service_role_key
APP_PORT=any
APP_ENV=development
GEMINI_API_KEY=AI_your_gemini_key
GROQ_API_KEY=gsk_your_groq_key

JWT_EXPIRY_HOURS = 
JWT_ALGORITHM=
JWT_SECRET=
APP_ENV=#testing  # or staging, production

REDIS_URL=
CHAT_CACHE_TTL=